{
  "semi": false,
  "tabWidth": 1,
  "useTabs": false,
  "bracketSameLine": false,
  "printWidth": 60,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "always"
}
